
.bg_cnr{
    background-color: white;
    background-size: cover;
    padding:10px;
    color: white;

    
}
.crd1{
    background-color: #1f2933;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-img.png");
    background-size:cover;
    height:130vh;
    padding:10px;
    margin:10px;
    
}
.crd2{
    background-color: #1f2933;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-with-controllers-img.png");
    margin-bottom:10px;
    padding: 10px;
    height:130vh;
    background-size:cover;
}
.button{
    color: white;
    background-color:#1f2933;
    border-width:1px;
    border-color:white;
    border-radius:3px;
    height: 30px;
      width:100px;
    
}
.button2{
    color: white;
    background-color:#1754a1;
    border-width:0px;
    border-radius:3px;
    height: 30px;
    width:120px;
    margin-right:10px;
    margin:5px;
    
    
}
.combine{
    margin-top: 540px;
}
.head{
    color: black;
    margin-left:20px;
}
