@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.bg_cnr{
    background-color: white;
    padding: 10px;
}
.crd{
    background-color: white;
    margin: 10px;
border-radius: 10px;
}
.title{
    color: #183b56;
    font-weight: 600;
    font-family: "Roboto";
}
.short-note{
    color: #959ead;
    font-size: 16px;
}
.inf{
    color: #959ead;
}
.link{
    color: #ff8f00;
    font-weight: 600;
}
.img-sz{
    width: 600px;
}