@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.bg_cnr{
   padding: 10px;
    background-color: #3e4c59;
}
.title-sn{
color: #cced00;
font-family: "Roboto";
font-weight: bold;
}
.title-hd{
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    }
.crd{
    background-color: #323f4b;
    border-radius: 10px;
    margin: 8px;
}
.link-style{
    color: #cced00;
    padding: 10px;
    font-family: "Roboto";
}
.clr{
    color: #9aa5b1;
    padding: 10px;
}
.clr2{
    color: aliceblue;
    padding: 10px;
}